nav {
  height: 10vh;
  @media (max-width: 1023px) { height: 12vh; }
  @media (max-width: 424px) { height: 17vh; }
  width: 100vw;
  background: lightgrey url(./../../images/vintage-concrete.png);
  margin-left: -8px;
  margin-top: -8px;
  display: flex;
  justify-content: space-around;
  .input-container {
    align-self: center;
    font-size: 28px;
    position: relative;
    span {
      @media (max-width: 1023px) {
        font-size: 16px;
        display: block;
        text-align: left; }
      @media (max-width: 424px) { font-size: 14px; } }
    font-weight: 600;
    .ingredients-input {
      font-weight: 600;
      font-size: 28px;
      border-radius: 5px;
      padding: 5px;
      @media (max-width: 1023px) {
        font-size: 16px; } }
    .search-button {
      font-size: 24px;
      font-weight: 600;
      border-radius: 5px;
      box-shadow: 1px 1px 1px 1px black;
      @media (max-width: 424px) { margin: 2px 25%; }
      cursor: pointer;
      @media (max-width: 1023px) { font-size: 16px; } }
    h6 {
      position: absolute;
      width: 100%;
      text-align: center;
      font-size: 12px;
      margin-top: 1px;
      margin-left: 50px;
      @media (max-width: 1023px) { margin-left: -75px; } } }
  .random {
    margin-top: 3px;
    button {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      padding: 10px;
      font-weight: 700;
      font-size: 12px;
      text-align: center;
      background-color: lightblue;
      box-shadow: 1px 1px 1px 1px black;
      @media (max-width: 424px) { margin: 20px 10px; }
      cursor: pointer;
      p {
        margin: 0; line-height: 20px; font-weight: 600;
        margin-left: -11px;
        width: 70px; } } } }
